@model List<MySqlCoreDemo.Data.Person>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Pessoas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Apelido</th>
            <th>Idade</th>
            <th>É Jogador?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.firstName</td>
                <td>@item.lastName</td>
                <td>@item.age</td>
                <td>@(item.isPlayer ? "Sim" : "Não")</td>
            </tr>
        }
    </tbody>
</table>